* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.title-product {
  color: #002d75;
  font-style: italic;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}

.scroll {
  position: fixed;
  bottom: 20px;
  right: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.377);
}
.scroll a {
  color: #000;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
header ul li {
  margin-top: 10px;
}
header ul li a {
  text-decoration: none;
  color: #002d75;
  padding: 15px;
}
header ul li a:hover {
  background-color: #b3e5fc;
}
header ul li a.active {
  background-color: #b3e5fc;
}

main {
  width: 100%;
}

.box-home {
  width: 100%;
  height: 600px;
  background-image: url("../images/molisana-home.jpg");
  background-position: center;
  background-size: cover;
}

.box-details {
  width: 100%;
}
.box-details h1 {
  margin-bottom: 10px;
}
.box-details img {
  max-width: 100%;
  display: block;
}
.box-details .box-info-text {
  text-align: justify;
  background-color: #efefefa6;
}
.box-details .box-icon-general {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  text-transform: capitalize;
}
.box-details .box-icon-general .box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.box-details .box-icon-general i {
  margin-right: 10px;
  display: inline;
}

.box-news {
  width: 100%;
  height: 600px;
  background-image: url("../images/news.jpg");
  background-position: center;
  background-size: cover;
}

.box-cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.box-cards .box-item {
  width: calc(100% / 3);
  position: relative;
}
.box-cards .box-item img {
  width: 100%;
}
.box-cards .box-item .box-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bedae5bd;
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  opacity: 0;
  transition: all 0.8s;
}
.box-cards .box-item .box-layer a {
  text-decoration: none;
  color: #002d75;
}
.box-cards .box-item:hover .box-layer {
  opacity: 1;
}

footer {
  width: 100%;
  height: 300px;
  background-image: url("../images/footer-montagne-bottom.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}
footer .box-info-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
footer .box-info-footer .box-right {
  width: 50%;
  text-align: center;
}
footer .box-info-footer .box-left {
  width: 50%;
  padding: 0 15%;
}
footer .box-info-footer .box-left ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.6em;
}
footer .box-info-footer .box-left ul a {
  color: #000;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.p-50 {
  padding: 50px;
}