*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: $widthContain;
    height: $heightAll;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.title-product{
    color: $menuColor;
    font-style: italic;
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
}

.scroll{
    position: fixed;
    bottom: 20px;
    right: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.377);
    a{
        color: #000;
    }
}