header{
    width: $widthAll;
    .container{
        max-width: $widthContain;
        height: $heightAll;
        margin: 0 auto;
    }
    @include flex;
    ul{
        list-style: none;
        @include flex;
        li{
            margin-top: 10px;
            a{
                text-decoration: none;
                color: $menuColor;
                padding: 15px;
                &:hover{
                    background-color: $menuColorHover
                }
            }
        }
    }
}