header{
    width: $widthAll;
    @include flex;
    ul{
        @include flex;
        li{
            margin-top: 10px;
            a{
                text-decoration: none;
                color: $menuColor;
                padding: 15px;
                &:hover{
                    background-color: $menuColorHover
                }
                &.active{
                    background-color: $menuColorHover;
                }
            }
        }
    }
}